---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: ""
dateCreated: 04-20-2015 11:07:23
slug: "Illinois Prison Overview"
keywords:
- research
posted: 03-17-2015
chartDataJS: "highcharts-national-prison-data.js"
---
<style>
h1,h2,h3,h4,h5,h6 {font-family: 'Oswald', san-serif;}
h3 {text-transform: uppercase; margin-top: 35px; margin-bottom: 10px}
h4 {color: #666; margin-top: 15px; margin-bottom: 10px}
p {margin-left: 10px}
</style>


<div class="container-fluid mosaic-container">

<div class="col-md-12 col-sm-12 col-xs-12 mosaic-well">
  <div style="height: 350px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/prison3.jpg')">

        <div class="mosaic-tall-headline dark">

        </div>

    

    </div>
  </div>

</div>
</div>





<div class="container-fluid">

  <div class="col-md-3" id="leftCol">
    <!-- <div id="sidebar-photo" class="hidden-xs hidden-sm">
      <h4 style="text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-botttom: 8px; font-weight: 700; font-family: 'Oswald', san-serif;">Article contents</h4>
 <ul class="nav nav-stacked" id="">
   <li><a href="#growth">Population growth</a></li>
   <li><a href="#causes">Causes</a></li>
   <li><a href="#consequences">Consequences</a></li>


 </ul>

 <div style="margin-left: 15px; margin-top: 25px">

 <a href="#" class="social twitter" onclick="return twitter_click('{{slug}} via @ICJIA_Illinois')" target="_blank"><i style="" class="fa fa-twitter-square fa-lg"></i></a>

 <a href="#" class="social facebook" onclick="return fbs_click('{{constructCanonical site.domain site.root this.page.dest}}','{{slug}}')" target="_blank"><i style="" class="fa fa-facebook-square fa-lg"></i></a>



</div>




</div> -->
</div><!--/left-->
  <div class="col-md-7">
    <progress value="0" id="progressBar" class="flat">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
    </progress>
    <div class="article">
      <div  id="growth" class="section-spacer"></div>
      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Illinois prison overview</h1>







    <div class="article-content">


        Data coming soon.



<div style="height: 800px"></div>
  </div>

  </div>
</div>
</div>
