---
layout: page.hbs
description: "Illinois Criminal Justice Reform Commission meetings"
dateCreated: 03-24-2015 09:00:01
slug: "Meetings"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">

      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Meetings & Materials</h1>




<div class="text-center">


    <div id="filters" class="btn-group" role="group" aria-label="Select filter">
    <button type="button" data-filter="*" class="btn btn-default active">Show all</button>
    <button type="button" data-filter=".materials" class="btn btn-default">Materials</button>
  <button type="button" data-filter=".commission-meetings" class="btn btn-default">Commission Meetings</button>

  <button type="button" data-filter=".training" class="btn btn-default">Training</button>
</div>



</div>







      <div id="news-container">




        <div class="news-item materials" style="width: 100%">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.13.2015</span>
          <h2 >Full audio of 03.26.2015 Commission meeting now available</h2>
          <p>Click to listen to the audio.</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200210572&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


        </div>











      <div class="news-item training">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Ethics Training Guidelines Available</h2>

        <p>Illinois State Commission on Criminal Justice and Sentencing Reform Members:</p>

        <p>As many of you know, the <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">State Officials and Employees Ethics Act (5 ILCS 430/5-10)</a> requires state boards and commissions to complete ethics training . To comply with that requirement each active Board member must complete the <a href="{{assets}}pdf/ethics training.pdf">Ethics Training for Appointees and Employees of State of Illinois Boards</a>. </p>

        <p>Please complete <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">the training</a> and return the Acknowledgment of Participation form bearing the requested information to Lisa Desai. The form can be returned via email to <a href="mailto: Lisa.Desai@Illinois.gov">Lisa.Desai@Illinois.gov</a>, via fax 217-524-7967, or via postal mail to the address listed below: </p>

      <div class="text-center">
      <p><b>Lisa M. Desai</b><br/>
      Assistant to the Director<br/>
      2200 South Dirksen Parkway<br/>
      Springfield, Illinois 62703<br/>
      Office: 217-557-6225</p>
      </div>

      <p>If you have any questions please call Lisa Desai at 217-557-6225.   Thank you for your immediate attention regarding this matter.  </p>





      </div>





      <div class="news-item training">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Open Meetings Act Training Available</h2>

        <p>Pursuant to <a href="http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=84&ChapterID=2" target="_blank">Section 1.05 (b) of OMA</a>, each elected and appointed member of a public body subject to OMA must successfully complete the electronic training not later than 90 days after the member takes the oath of office or otherwise assume responsibilities as a member of a public body.</p>

        <p>Access the OMA training here: <a href="http://foia.ilattorneygeneral.net/electronic_foia_training.aspx" onclick="ga('send', 'event', 'OMA Training', 'Click', 'http://foia.ilattorneygeneral.net/electronic_foia_training.aspx')">http://foia.ilattorneygeneral.net/electronic_foia_training.aspx</a></p>


      </div>




      <div class="news-item commission-meetings">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">04.06.2015</span>
        <h2 >Upcoming Commission meetings scheduled</h2>

        <p>The Commission has scheduled meetings for the following dates:</p>

        <ul>
          <li>Saturday, April 25 at 1:00 pm in Chicago.</li>
          <li>Thursday, May 14 at 1:30 pm in Springfield.</li>
          <li>Wednesday, June 3 at 1:00 pm location TBD</li>
        </ul>

        <p>Meeting locations, agendas, and meeting materials will be posted as they are received.</p>

      </div>



        <div class="news-item materials">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.06.2015</span>
          <h2 >Handouts from the March 26 Commission Meeting</h2>

          <p>The following items were handed out at the first meeting of the Commission on Thursday, March 26th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 1.pdf')">Drivers of Illinois' Prison Population -- Part 1&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 2.pdf')">Drivers of Illinois' Prison Population -- Part 2&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Probation.pdf')">The Journey to Evidence-Based Practices in Illinois Probation &nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/AOIC.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'AOIC.pdf')">Illinois Probation, Pretrial, and Detention Overview&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

        </div> <!-- //news-item -->






      <div class="news-item commission-meetings">



        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">03.23.2015</span>

      <h2 >Commission to convene March 26</h2>



      <p>The first meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform will be held Thursday, March 26 at 1:30 p.m. in Stratton Rm. 349C, Robert Oxtoby Board Room North, Stratton Office Building, 401 South Spring Street, Springfield, Illinois, 62706.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/CommissionAgenda03-26-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'CommissionAgenda03-26-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>





      </div> <!-- //news-item -->
</div> <!-- news-container -->







  </div>

  <div style="height: 400px"></div>
</div>
</div>
