---
layout: page.hbs
description: "Illinois Criminal Justice Reform Commission meetings"
dateCreated: 03-24-2015 09:00:01
slug: "Meetings"
keywords:
- news
posted: 03-17-2015
navSort: 100
---
<style>
  #meeting-filter {display: none;}
</style>

<div class="container-fluid">



  <div class="col-md-2" >
    &nbsp;
  </div>



  <div class="col-md-7" >
    <style>


    </style>
    <div class="article">

      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Meetings & Materials</h1>









<style>
button.multiselect {width: 240px}
.multiselect-container {width: 240px}
#example { visibility: hidden;}
</style>

<div class="well" style="margin-top: 35px;">
  <center>
    <h4 style="display: inline; margin: 0; padding: 0; font-family: 'Oswald', sans-serif;">Select categories: &nbsp; &nbsp;</h4>
            <select id="example" multiple="multiple" style="display: inline;">
              <optgroup label="Commission & Subcommittees">
                <option value="commission">Commission</option>


                <option value="law">Law</option>
                <option value="jail">Jail</option>
                <option value="corrections">Community Corrections</option>
                <option value="budget">Budget and Capacity</option>
                <option value="implementation">Implementation</option>
                </optgroup>
                <optgroup label="Materials">
                  <option value="materials">Handouts / Presentations </option>
                <option value="training">Training</option>
                <option value="audio ">Audio</option>
                <option value="minutes ">Minutes</option>
                </optgroup>
            </select>
          </center>

</div>




      <div id="news-container">

        <div class="news-item law">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">08.06.2015</span>
          <h2 >Subcommittee on Law to meet on Monday, August 10</h2>
          <p>The Law subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Monday, August 10 by telephone conference call.
      </p>

      <p>Call in numbers:</p>
        <ul style="margin-left: 10px">
          <li>(217) 332-6338</li>
          <li>(312) 994-8410</li>
          <li>(888) 983-3631</li>
        </ul>

      <p>Conference ID: 4636472</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 8.10 meeting notice.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 8.10 meeting notice.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>



        <div class="news-item commission audio materials" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.29.2015</span>
          <h2>07.27.2015 Commission Public Hearing: Audio, Materials</h2>
          <p>Listen to an audio recording of the Commission public hearing held June 27, 2015.</p>

          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216933369&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf')">Thresholds - Statement and Recommendations&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>




        <div class="news-item commission materials" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.28.2015</span>
          <h2>07.27.2015 Commission meeting: Written testimony</h2>
          <p>Written testimony from the Juvenile Justice Initiative presented at the 07.27.2015 Commission meeting.</p>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JJI Written Testimony 072715.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JJI Written Testimony 072715.pdf')">Download&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



        </div>




        <div class="news-item commission audio materials" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.27.2015</span>
          <h2>07.23.2015 Commission meeting: Audio, meeting materials</h2>
          <p>Listen to an audio recording of the Commission meeting held June 23, 2015.</p>

          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216567386&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/graphscookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'graphscookcountyforcommissionfromloyolafinalversion.pdf')">David E. Olson and Donald Stemen - Overview of Cook County Justice System Activities&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


              <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/memocookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'memocookcountyforcommissionfromloyolafinalversion.pdf')">David E. Olson and Donald Stemen - Memo&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



        </div>




        <div class="news-item subcommittee audio" style="width: 100%">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">07.27.2015</span>
          <h2>07.23.2015 Implementation subcommittee: Audio</h2>
          <p>Listen to an audio recording of the Subcommittee on Implementation meeting held July 23, 2015.</p>


          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216561403&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



        </div>






        <div class="news-item commission materials" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.24.2015</span>
          <h2>06.25.2015 Commission meeting: Video, meeting materials</h2>
          <p>Watch video of the Commission meeting held June 25, 2015.</p>


          <iframe width="210" height="152" src="https://www.youtube.com/embed/_NIGXh7tDDQ" frameborder="0" style="margin-left: 20px" allowfullscreen></iframe>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf')">David Kennedy - Deterrence and Crime Prevention&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/June 25_Sentencing Commission Presentation_06252015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'June 25_Sentencing Commission Presentation_06252015.pdf')">Megan Alderden - What the Research Says&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>







        </div>




        <div class="news-item commission">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.24.2015</span>
          <h2 >Commission to hold public hearing on Monday, July 27</h2>
          <p>The Commission will hold a special hearing for public input on Monday, July 27. The hearing will be held at the Illinois Criminal Justice Information Authority, 300 West Adams St., 2nd Floor, Chicago, Illinois 60606.
  </p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/COMMISSION PUBLIC HEARING - JULY 27, 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'COMMISSION PUBLIC HEARING - JULY 27, 2015.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
  </div>


        <div class="news-item commission">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.21.2015</span>
          <h2 >Commission to meet on Thursday, July 23</h2>
          <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet on Thursday, July 23, 2015 from 1:00 to 5:00 p.m. at the Michael A. Bilandic Building, Room C600, 160 North LaSalle Street, Chicago, IL.
  </p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Commission Agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission Agenda.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
  </div>


        <div class="news-item implementation">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">06.17.2015</span>
          <h2 >Subcommittee on Implementation to meet on Thursday, July 23</h2>
          <p>The Implementation subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Thursday, July 23rd from 10:30 a.m. to 12:00 noon at the Illinois Criminal Justice Information Authority, 300 West Adams Street, 2nd Floor, Chicago, Illinois 60606.
      </p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Agenda Implementation Subcommittee 07-23-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Agenda Implementation Subcommittee 07-23-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>


        <div class="news-item commission materials" style="width: 100%">
          <span class="news-category">REQUEST FOR PUBLIC INPUT</span>&nbsp<span class="news-date">07.14.2015</span>
          <h2 >Commission seeks input on safely reducing prison population</h2>


          <p>

            The Illinois State Commission on Criminal Justice and Sentencing Reform seeks the input of advocates, policy specialists, service providers, people with criminal records, and members of the general public on its work to safely reduce the state’s prison population by 25 percent in 10 years.</p>

<p>The Commission will hold a special meeting dedicated to hearing from the public on Monday, July 27, from 1 p.m. to 5 p.m. at the Illinois Criminal Justice Information Authority, 300 West Adams, Suite 200, in Chicago.</p>

<p>We invite public comment on the <a href="{{assets}}pdf/Criminal Justice Reform Commission Initial Report.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Initial Report.pdf')">Commission’s interim report</a>, as well as testimony on how Illinois can reduce recidivism, improve the state’s prison system, and strengthen criminal sentencing.</p>

<p>To ensure that the Commission can hear from as many people as possible, we ask that witnesses limit their testimony to seven minutes.  We also welcome written testimony, <a href="https://www.surveygizmo.com/s3/2097986/Submit-Your-Comments-to-the-Illinois-State-Commission-on-Criminal-Justice-Sentencing-Reform">which can be submitted at any time</a>.</p>

<p>The Commission will hold another public hearing in downstate Illinois in early September.</p>






        </div>



        <div class="news-item commission materials" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.14.2015</span>
          <h2>Audio for 06.25.2015 Commission meeting available</h2>
          <p>The audio for the June 25, 2015 Commission meeting is now available.</p>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214679087&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



        </div>





        <div class="news-item jail materials" style="width: 100%">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">07.09.2015</span>
          <h2 >Minutes from 06.02.2015 Jail Subcommittee Available</h2>
          <p>Minutes from the June 2, 2015 Jail Subcommittee meeting are now available.</p>



          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Jail Subcommittee minutes 6.2.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee minutes 6.2.2015.pdf')">Download minutes&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>

        <div class="news-item budget materials" style="width: 100%">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">07.08.2015</span>
          <h2 >Budget & Capacity subcommittee agenda for July 10</h2>
          <p>The agenda for the Subcommittee on Budget & Capacity meeting on Friday, July 10 is available.</p>

          <p>Call in info: 1-888-494-4032; Passcode: 7205356689#</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/7_10_15 B & C subcommittee agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '7_10_15 B & C subcommittee agenda.pdf')">Download agenda&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>




        <div class="news-item jail materials" style="width: 100%">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">07.02.2015</span>
          <h2 >Jails subcommittee agenda for July 7</h2>
          <p>The agenda for the Subcommittee on Jails meeting on Wednesday, July 7 is available.</p>

          <p>Call in info: 888.494.4032; Access Code 6983989178#</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Jail 7.7.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail 7.7.15.pdf')">Download agenda&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>

        <div class="news-item commission" style="width: 100%">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.01.2015</span>
          <h2>Initial Report of the Illinois State Commission on Criminal Justice and Sentencing Reform</h2>
          <p>July 1, 2015: SPRINGFIELD -- Governor Bruce Rauner received today the initial report from the Illinois State Commission on Criminal Justice and Sentencing Reform, pursuant to Executive Order 15-14.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Reform Commission Initial Report.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Initial Report.pdf')">Download report&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>


        <div class="news-item corrections materials" style="width: 100%">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">06.29.2015</span>
          <h2 >Community Corrections subcommittee agenda for July 8</h2>
          <p>The agenda for the Subcommittee on Community Corrections meeting on Wednesday, July 8 is available.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Final Agenda for Community Corrections committee July 8th 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Final Agenda for Community Corrections committee July 8th 2015.pdf')">Download agenda&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>


        <div class="news-item commission materials" style="width: 100%">
          <span class="news-category">PRESS RELEASE</span>&nbsp<span class="news-date">06.24.2015</span>
          <h2 >Authority Hosts State Commission on Criminal Justice & Sentencing Reform for Presentations and Discussion on Deterrence and Incapacitation</h2>
          <p>CHICAGO—June 24, 2015. Impacts of deterrence and incapacitation on the justice system will be the focus of this week’s Illinois State Commission on Criminal Justice and Sentencing Reform meeting.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Reform Commission 6.25.15 PRESS RELEASE.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Reform Commission 6.25.15 PRESS RELEASE.pdf')">Download press release&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>






        <div class="news-item materials" style="width: 100%">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">06.23.2015</span>
          <h2 >Media Advisory: Commission hosts David M. Kennedy on June 25</h2>
          <p>The State Commission on Criminal Justice & Sentencing Reform hosts David M. Kennedy for a presentation on reducing crime and incarceration through a more effective use of deterrence. A panel discussion of Illinois law enforcement and policymakers will follow.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Reform Commission 6.25.15 Media Advisory.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Reform Commission 6.25.15 Media Advisory.pdf')">Download media advisory&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>


      <div class="news-item commission">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">06.23.2015</span>
          <h2 >Commission to meet on Thursday, June 25 2015</h2>
          <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Thursday, June 25 from 1pm to 5pm at the Illinois
  Criminal
  Justice
  Authority
  Board
  Room,
  300
  W.
  Adams,
  Suite
  200
  Chicago,
  IL 60606.</p>


  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Final Commission Meeting Agenda 6-25-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Final Commission Meeting Agenda 6-25-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

    </div>













        <div class="news-item materials" style="width: 100%">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">06.16.2015</span>
          <h2 >Judge Wenzelman: Kankakee County Criminal Justice Innovations</h2>
          <p>Correspondence from Judge Wenzelman detailing innovative ways Kankakee County is addressing criminal justice issues. </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JudgeWenzelman.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JudgeWenzelman.pdf')">Download Judge Wenzelman's letter&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>




        <div class="news-item commission audio" style="width: 100%">
          <span class="news-category">AUDIO</span>&nbsp<span class="news-date">06.16.2015</span>
          <h2 >Full audio of 06.03.2015 Commission meeting</h2>
          <p>Click to listen to the audio.</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/210597110&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



        </div>


        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">06.10.2015</span>
          <h2 >Materials and presentations from the 06.03.2015 Commission meeting</h2>

          <p>The following materials were presented or provided as background at the June 3rd Commission meeting.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Prison Higher Ed Fact Sheet.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Prison Higher Ed Fact Sheet.pdf')">Public comment: Prison Education Saves States Dollars&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/RAND_RR564.sum.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'RAND_RR564.sum.pdf')">Public comment: How Effective Is Correctional Education, and Where Do We Go from Here?&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/MM Treatment Capacity Revamp EO commission.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'MM Treatment Capacity Revamp EO commission.pdf')">Presentation: Treatment Capacity in Illinois &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;<a href="{{assets}}ppt/Treatment Capacity Revamp EO commission.pptx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Treatment Capacity Revamp EO commission.pptx')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
          </p>




          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/NIS Commission Presentation June 03.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'NIS Commission Presentation June 03.pdf')">Presentation:   System-wide Criminal Justice Spending &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;<a href="{{assets}}ppt/Commission Presentation June 03 060215 vF.ppt" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Presentation June 03 060215 vF.ppt')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
          </p>




        </div> <!-- //news-item -->






        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">06.09.2015</span>
          <h2 >Materials and testimony from the 05.14.2015 Commission meeting</h2>

          <p>The following materials were presented or provided as background at the May 14th Commission meeting.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp; <a href="{{assets}}pdf/Commission Testimony 051415 - Dr. C. Billups.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Dr. C. Billups.pdf')">Testimony: Dr. C. Billups &mdash;&nbsp;PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Testimony 051415 - Rev. C. Reuter.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Rev. C. Reuter.pdf')">Testimony: Rev. C. Reuter &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>




          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Why Prisons - Bishop J. Schlarman.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Why Prisons - Bishop J. Schlarman.pdf')">Background: Why Prisons? - Bishop J. Schlarman
   &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://americamagazine.org/issue/prison-addiction" >Background: Prison Addiction
   &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://www.usccb.org/issues-and-action/human-life-and-dignity/criminal-justice-restorative-justice/crime-and-criminal-justice.cfm" >Background: Responsibility, Rehabilitation, And Restoration
   &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
          </p>






        </div> <!-- //news-item -->






        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">06.09.2015</span>
          <h2 >Materials and testimony from the 05.14.2015 Commission meeting</h2>

          <p>The following materials were presented or provided as background at the May 14th Commission meeting.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp; <a href="{{assets}}pdf/Commission Testimony 051415 - Dr. C. Billups.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Dr. C. Billups.pdf')">Testimony: Dr. C. Billups &mdash;PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Testimony 051415 - Rev. C. Reuter.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Rev. C. Reuter.pdf')">Testimony: Rev. C. Reuter &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>




          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Why Prisons - Bishop J. Schlarman.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Why Prisons - Bishop J. Schlarman.pdf')">Background: Why Prisons? - Bishop J. Schlarman
        &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://americamagazine.org/issue/prison-addiction" >Background: Prison Addiction
        &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://www.usccb.org/issues-and-action/human-life-and-dignity/criminal-justice-restorative-justice/crime-and-criminal-justice.cfm" >Background: Responsibility, Rehabilitation, And Restoration
        &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
          </p>






        </div> <!-- //news-item -->











        <div class="news-item commission minutes">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">06.09.2015</span>
          <h2 >Minutes from previous Commission meetings</h2>
          <p>Minutes from the March 26th, April 25th, and May 14th Commission meetings are now available.</p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Meeting 1 Draft Minutes.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Meeting 1 Draft Minutes.pdf')">Minutes: March 26, 2015&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Meeting 2 Draft Minutes.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Meeting 2 Draft Minutes.pdf')">Minutes: April 25, 2015&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Meeting 3 Draft Minutes.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Meeting 3 Draft Minutes.pdf')">Minutes: May 14, 2015&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>







        <div class="news-item jail">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">06.03.2015</span>
          <h2 >Subcommittee on Jail to meet on Tuesday, July 7 2015 </h2>
          <p>The next meeting for the Jail Subcommittee will be Tuesday July 7th at 10:30am at the Illinois Deptartment of Corrections Headquarters in Springfield, Illinois.</p>

      <p><i class="fa fa-angle-double-right"></i>Agenda forthcoming</p>

        </div>


        <div class="news-item jail minutes">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">06.02.2015</span>
          <h2 >Jail subcommittee minutes from 05.04.15</h2>
          <p>The Jail subcommittee minutes from the May 4, 2015 meeting are now available.

  </p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/5.4.15 Jail Subcommittee minutes[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '5.4.15 Jail Subcommittee minutes[1].pdf')">Download the Jail subcommittee minutes from 05.14.15 &nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


        </div>



        <div class="news-item law minutes">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">06.01.2015</span>
          <h2 >Subcommittee on Law meeting scheduled for Wednesday, June 3.</h2>
          <p>The next Law Subcommittee meeting will be held on Wednesday, June 3, 2015 from 11:00 a.m. to 1:00 p.m. in Room 348-N, Stratton Building, State Capitol, Springfield, IL.

  </p>

  <p>In addition, minutes from the Law Subcommittee meeting on 05.14.2015 are now available.</p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 6.3.15 Meeting Notice.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 6.3.15 Meeting Notice.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 5.14.15 minutes.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 5.14.15 minutes.pdf')">Download the Law subcommittee minutes from 05.14.15 &nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


        </div>




        <div class="news-item commission ">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">05.29.2015</span>
          <h2 >Commission to meet on Wednesday, June 3</h2>
          <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet Wednesday, June 3rd from 1pm to 5pm in the Robert Oxtoby Board Room, 401 S. Spring, Room 349C, Springfield, IL .</p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission 6-3-15 Agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission 6-3-15 Agenda.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>


        <div class="news-item jail">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.28.2015</span>
          <h2 >Subcommittee on Jail meeting rescheduled for Tuesday, June 2.</h2>
          <p>The Commission Jail Subcommittee will be held on Tuesday, June 2nd at 10:30 a.m. at the Illinois Department of Corrections Headquarters, Executive Conference Room, 1301 Concordia Ct., Springfield, IL 62794
  </p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Memorandum Commission jails Subcommittee 6.2.2015[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memorandum Commission jails Subcommittee 6.2.2015[1].pdf')">Download the updated meeting announcement&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/jails Subcommittee Agenda 6.2.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'jails Subcommittee Agenda 6.2.15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>

        <div class="news-item implementation">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.27.2015</span>
          <h2 >Subcommittee on Implementation to meet on Friday, May 29</h2>
          <p>The Implementation subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Friday, May 29 from 10:00am to 12pm at the Illinois Criminal Justice Information Authority 300 W. Adams, 2nd Floor Chicago, IL 60611.
      </p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/implementationagenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'implementationagenda.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>







        <div class="news-item materials corrections">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.27.2015</span>
          <h2 >Presentations from the 05.26.2015 Community Corrections subcommittee meeting</h2>

          <p>The following was presented at the Community Corrections subcommittee meeting on Tuesday, May 26th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<strong>ICJIA Research & Analysis Unit presentation</strong> &mdash; <a href="{{assets}}pdf/R&A Community Corrections Subctte 05262015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'R&A Community Corrections Subctte 05262015.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div> <!-- //news-item -->












        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.22.2015</span>
          <h2 >Presentations from the 05.14.2015 Commission Meeting</h2>

          <p>The following items were presented at the third meeting of the Commission on Thursday, May 14th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<strong>SPAC's presentation to the Commission</strong>&nbsp;&mdash;&nbsp;<a href="{{assets}}pdf/Commission meeting SPAC prezi 5.14.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission meeting SPAC prezi 5.14.15.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<strong>Getting to 25% by 2025</strong>&nbsp;&mdash;&nbsp;<a href="{{assets}}pdf/olsonmay142015commissionpresentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'olsonmay142015commissionpresentation.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>



        </div>







        <div class="news-item commission audio" style="width: 100%">
          <span class="news-category">AUDIO</span>&nbsp<span class="news-date">05.22.2015</span>
          <h2 >Full audio of 05.14.2015 Commission meeting</h2>
          <p>Click to listen to the audio.</p>

          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206701051&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


        </div>






        <div class="news-item corrections">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.20.2015</span>
          <h2 >Subcommittee on Community Corrections to meet on Tuesday, May 26 2015 </h2>
          <p>The Subcommittee on Community Corrections to meet on Tuesday, May 26 2015 from
  12:00 p.m. to 2:00 p.m. at  Illinois
  Criminal
  Justice
  Information
  Authority at
  300
  W.
  Adams,
  2nd
  Floor
  Chicago,
  IL
  60611.</p>

  <p><strong>Call-in information: 888-494-4032 / Access	Code:	3769614843#</strong></p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-26-15 (3) (2)[6].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-26-15 (3) (2)[6].pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation road map[3].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'probation road map[3].pdf')">Download probation roadmap&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>





        <div class="news-item budget">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.18.2015</span>
          <h2 >Subcommittee on Budget and Capacity to meet on Thursday, May 21 2015 </h2>
          <p>Subcommittee on Budget and Capacity to meet on Thursday, May 21, 2015 from
  8:00 a.m. to 9:00 p.m. at  401 S. Spring, Room 621, Springfield, IL.</p>

  <p><strong>Call-in information: 888-494-4032 / Access code:  7205356689#</strong></p>

  <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/5_21 budget_agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '5_21 budget_agenda.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>


        <div class="news-item commission">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">05.12.2015</span>
          <h2 >Commission to meet on Thursday, May 14 2015</h2>
          <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet Thursday, May 14 from 1:30pm to 5pm in Robert Oxtoby Board Room, 3rd Floor, Stratton Office Building, 401 S. Spring Street Springfield, IL.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Commission Agenda for 5_14_15 mtg.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission Agenda for 5_14_15 mtg.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>




        <div class="news-item law">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.11.2015</span>
          <h2 >Subcommittee on Law to meet on Thursday, May 14 2015 </h2>
          <p>The Subcommittee on Law will meet on Thursday, May 14 2015 from 11am to 1pm in Room 348, N Stratton Building, State Capitol, Springfield, Illinois 62794.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 5.14 meeting notice.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 5.14 meeting notice.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>





        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.05.2015</span>
          <h2 >Presentations from the 04.25.2015 Commission Meeting</h2>

          <p>The following items were presented at the second meeting of the Commission on Saturday, April 25th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<strong>Targeting Dispositions
      by Risk, Need, Responsivity</strong> &mdash; <a href="{{assets}}pdf/Il.Gov.Cmn.04.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="{{assets}}ppt/Il.Gov.Cmn.04.2015.pptx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pptx')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<strong>IDOC: Programs and Support Services</strong> &mdash; <a href="{{assets}}pdf/IDOC Power Point Presentation (4  24 15)copy2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="{{assets}}ppt/IDOC Power Point Presentation (4  24 15)copy2.ppt" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.ppt')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
          </p>



        </div> <!-- //news-item -->








        <div class="news-item jail">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.30.2015</span>
          <h2 >Subcommittee on Jail to meet on Monday, May 4 2015 </h2>
          <p>The Illinois Department of Corrections Commission on Criminal Justice and Sentencing Reform Jail subcomittee will meet Monday, May 4, 2015 at 10:30am at 1301 Concordia Ct., Executive Conference Room, Springfield, Illinois 62794.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/jails Subcommittee Agenda 5.4.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'jails Subcommittee Agenda 5.4.15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>




        <div class="news-item subcommittee corrections">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.30.2015</span>
          <h2 >Subcommittee on Community Corrections to meet on Tuesday, May 5 2015 </h2>
          <p>The Community Corrections subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Tuesday, May 5 from 12:00 p.m. to 2:00 p.m. at the Illinois Criminal Justice Information Authority 300 W. Adams, 2nd Floor, Chicago, IL 60606.

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-5-15 (3) (1).pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-5-15 (3) (1).pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        </div>



      <!--  <div class="news-item commission minutes">
          <span class="news-category">MINUTES</span>&nbsp<span class="news-date">04.24.2015</span>
          <h2 >Minutes from the 03.26.15 Commission meeting</h2>
          <p>Minutes from the March 26, 2015 Commission meeting are now available.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/ICJSR Minutes - 3.26.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ICJSR Minutes - 3.26.15.pdf')">Download the minutes&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

    </div>-->



        <div class="news-item commission">
          <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">04.23.2015</span>
          <h2 >Commission to meet on Saturday, April 25 2015</h2>
          <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet Saturday, April 25 at 1:00 p.m. in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
      .</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Commission agenda 4-25-15 meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission agenda 4-25-15 meeting.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>








        <div class="news-item implementation">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.23.2015</span>
          <h2 >Subcommittee on Implementation to meet on Saturday, April 25 2015 </h2>
          <p>The Implementation subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 from 12:00 p.m. to 12:45pm in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
      .</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/Organizational mtg agenda-imp.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Organizational mtg agenda-imp.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>





        <div class="news-item law">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.22.2015</span>
          <h2 >Subcommittee on Law to meet on Saturday, April 25 2015 </h2>
          <p>The Law subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 from 12:15 p.m. to 1pm in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
      .</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/Law Subcommittee 4.25 meeting notice.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 4.25 meeting notice.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>












        <div class="news-item budget">
          <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.21.2015</span>
          <h2 >Subcommittee on Budget and System Capacity to meet on Saturday, April 25 2015 </h2>
          <p>The Budget and System Capacity subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 at 12:00 p.m. in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
      .</p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/budget-system04-25-2015.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'budget-system04-25-2015.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
        </div>


        <div class="news-item commission audio" style="width: 100%">
          <span class="news-category">AUDIO</span>&nbsp<span class="news-date">04.13.2015</span>
          <h2 >Full audio of 03.26.2015 Commission meeting</h2>
          <p>Click to listen to the audio.</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200210572&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


        </div>











      <div class="news-item training">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Ethics Training Guidelines</h2>

        <p>Illinois State Commission on Criminal Justice and Sentencing Reform Members:</p>

        <p>As many of you know, the <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">State Officials and Employees Ethics Act (5 ILCS 430/5-10)</a> requires state boards and commissions to complete ethics training . To comply with that requirement each active Board member must complete the <a href="{{assets}}pdf/ethics training.pdf">Ethics Training for Appointees and Employees of State of Illinois Boards</a>. </p>

        <p>Please complete <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">the training</a> and return the Acknowledgment of Participation form bearing the requested information to Lisa Desai. The form can be returned via email to <a href="mailto: Lisa.Desai@Illinois.gov">Lisa.Desai@Illinois.gov</a>, via fax 217-524-7967, or via postal mail to the address listed below: </p>

      <div class="text-center">
      <p><b>Lisa M. Desai</b><br/>
      Assistant to the Director<br/>
      2200 South Dirksen Parkway<br/>
      Springfield, Illinois 62703<br/>
      Office: 217-557-6225</p>
      </div>

      <p>If you have any questions please call Lisa Desai at 217-557-6225.   Thank you for your immediate attention regarding this matter.  </p>





      </div>





      <div class="news-item training">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Open Meetings Act Training</h2>

        <p>Pursuant to <a href="http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=84&ChapterID=2" target="_blank">Section 1.05 (b) of OMA</a>, each elected and appointed member of a public body subject to OMA must successfully complete the electronic training not later than 90 days after the member takes the oath of office or otherwise assume responsibilities as a member of a public body.</p>

        <p>Access the OMA training here: <a href="http://foia.ilattorneygeneral.net/electronic_foia_training.aspx" onclick="ga('send', 'event', 'OMA Training', 'Click', 'http://foia.ilattorneygeneral.net/electronic_foia_training.aspx')">FOIA Training</a></p>


      </div>




      <div class="news-item commission">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">04.06.2015</span>
        <h2 >Upcoming Commission meetings scheduled</h2>

        <p>The Commission has scheduled meetings for the following dates:</p>

        <ul>
          <li>Saturday, April 25 at 1:00 pm in Chicago.</li>
          <li>Thursday, May 14 at 1:30 pm in Springfield.</li>
          <li>Wednesday, June 3 at 1:00 pm location TBD</li>
        </ul>

        <p>Meeting locations, agendas, and meeting materials will be posted as they are received.</p>

      </div>



        <div class="news-item materials commission">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.06.2015</span>
          <h2 >Handouts from the March 26 Commission Meeting</h2>

          <p>The following items were handed out at the first meeting of the Commission on Thursday, March 26th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 1.pdf')">Drivers of Illinois' Prison Population -- Part 1&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 2.pdf')">Drivers of Illinois' Prison Population -- Part 2&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Probation.pdf')">The Journey to Evidence-Based Practices in Illinois Probation &nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/AOIC.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'AOIC.pdf')">Illinois Probation, Pretrial, and Detention Overview&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

        </div> <!-- //news-item -->






      <div class="news-item commission">



        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">03.23.2015</span>

      <h2 >Commission to convene March 26</h2>



      <p>The first meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform will be held Thursday, March 26 at 1:30 p.m. in Stratton Rm. 349C, Robert Oxtoby Board Room North, Stratton Office Building, 401 South Spring Street, Springfield, Illinois, 62706.</p>

 <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/CommissionAgenda03-26-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'CommissionAgenda03-26-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>





      </div> <!-- //news-item -->
</div> <!-- news-container -->







  </div>

  <div style="height: 400px"></div>
</div>


<div class="col-md-3">
  <div class="meeting-title" style="margin-top: 55px; "><div class="text-center">Upcoming Meetings</div></div>

  <div class="meeting-box">


    <div class="meeting">
            <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;August 13, 2015</div>
            <div class="meeting-link">


            <h4 style="font-weight: 900">
              Subcommittee on Jails

              </h4>


          <p>Agenda TBD</p>

            </div>
          </div>


    <div class="meeting">
            <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;August 10, 2015</div>
            <div class="meeting-link">


            <h4 style="font-weight: 900">
              Subcommittee on Law

              </h4>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 8.10 meeting notice.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 8.10 meeting notice.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            </div>
          </div>


  </div>


</div>

</div>
