---
layout: page.hbs
description: "Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque."
dateCreated: 03-17-2015 14:26:23
slug: "What the research says"
keywords:
- 'criminal justice research'
- 'criminal justice statistics'
- 'criminal justice data'
- 'Illinois Criminal Justice Information Authority'
posted: 03-17-2015
chartDataJS: "highcharts-sandbox.js"
---

<div class="container-fluid mosaic-container">

<div class="col-md-12 col-sm-12 col-xs-12 mosaic-well">
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">

        </div>

      </a>

    </div>
  </div>

</div>
</div>




<div class="container-fluid">

  <div class="col-md-3" id="leftCol">
    <div id="sidebar-photo" class="hidden-xs hidden-sm">
      <h4 style="text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-botttom: 8px; font-weight: 700; font-family: 'Oswald', san-serif;">Article contents</h4>
  <ul class="nav nav-stacked" id="">
   <li><a href="#sec1">Section 1</a></li>
   <li><a href="#sec2">Section 2</a></li>
   <li><a href="#sec3">Section 3</a></li>


   </li>

  </ul>



  <div style="margin-left: 15px; margin-top: 25px">

  <a href="#" class="social twitter" onclick="return twitter_click('{{slug}} via @ICJIA_Illinois')" target="_blank"><i style="" class="fa fa-twitter-square fa-lg"></i></a>

  <a href="#" class="social facebook" onclick="return fbs_click('{{constructCanonical site.domain site.root this.page.dest}}','{{slug}}')" target="_blank"><i style="" class="fa fa-facebook-square fa-lg"></i></a>

  <!--<a href="#" class="social pdf"><i style="" class="fa fa-file-pdf-o fa-lg"></i></a>-->

</div>


  </div>
  </div><!--/left-->




  <div class="col-md-7">
    <progress value="0" id="progressBar" class="flat">
    <div class="progress-container">
      <span class="progress-bar">test</span>
    </div>
    </progress>
    <div class="article">
      <span class="article-date">{{site.title}}</span>


      <div  id="sec1" class="section-spacer"></div>


    <h1 class="article-headline">Research and Data</h1>






    <div class="article-content">
    <p class="drop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros tincidunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>
    <div style="margin-top: 40px; margin-bottom: 40px">
    <div id="wtrs-container1" style="max-width: 600px; height: 400px; margin: 0 auto; z-index: -1"></div>
  </div>




    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros tincidunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>

    <div  id="sec2" class="section-spacer"></div>

    <h2 class="subhead">Mauris varius elementum convallis </h2>

    <p>Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros tincidunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>

    <div style="margin-top: 40px; margin-bottom: 40px">
    <div id="wtrs-container2" style="max-width: 600px; height: 400px; margin: 0 auto; z-index: -1"></div>
  </div>

    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros.</p>

    <div  id="sec3" class="section-spacer"></div>

    <h2 class="subhead">Integer lacinia nunc sed hendrerit </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros.</p>


    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros.</p>

    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus. Phasellus sit amet lobortis nulla, quis suscipit sapien. Curabitur ac iaculis neque. Cras bibendum ultricies enim id sagittis. Integer lacinia nunc sed hendrerit elementum. Mauris varius elementum convallis. Aenean scelerisque eleifend risus, non sodales orci varius non. Donec enim mi, sodales a ipsum non, gravida auctor est. Proin ac mattis erat, venenatis sodales ligula. Nunc facilisis metus non eros.&nbsp;<i class="fa fa-bank" style="font-size: 14px; color: #903; vertical-align: middle; "></i></p>

    <div class="text-center">

    <a class="ghost-button long" style="margin-top: 25px" href="#"><i class="fa fa-envelope"></i> Email author</a>

  </div>

  </div>

  </div>
</div>
</div>
