---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission & its members
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/159H.jpg')">
      <a href="research/who-do-we-send-to-prison.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Who do we send to prison?
        </div>

      </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/what-the-research-says.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          What the research says
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/comments1.jpg')">
      <a href="about/comments.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Submit your comments
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <div style="height: 30px"></div>
      <!--<h1 style="padding-left: 15px">The Latest News</h1>-->
    </div>

    <div class="col-md-7" style="background: #fff; ">



      <div class="news-item training first">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Ethics Training Guidelines Available</h2>

        <p>Illinois State Commission on Criminal Justice and Sentencing Reform Members:</p>

        <p>As many of you know, the <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">State Officials and Employees Ethics Act (5 ILCS 430/5-10)</a> requires state boards and commissions to complete ethics training . To comply with that requirement each active Board member must complete the <a href="{{assets}}pdf/ethics training.pdf">Ethics Training for Appointees and Employees of State of Illinois Boards</a>. </p>

        <p>Please complete <a href="{{assets}}pdf/ethics training.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ethics training.pdf')">the training</a> and return the Acknowledgment of Participation form bearing the requested information to Lisa Desai. The form can be returned via email to <a href="mailto: Lisa.Desai@Illinois.gov">Lisa.Desai@Illinois.gov</a>, via fax 217-524-7967, or via postal mail to the address listed below: </p>

      <div class="text-center">
      <p><b>Lisa M. Desai</b><br/>
      Assistant to the Director<br/>
      2200 South Dirksen Parkway<br/>
      Springfield, Illinois 62703<br/>
      Office: 217-557-6225</p>
      </div>

      <p>If you have any questions please call Lisa Desai at 217-557-6225.   Thank you for your immediate attention regarding this matter.  </p>





      </div>





      <div class="news-item training">
        <span class="news-category">TRAINING</span>&nbsp<span class="news-date">04.07.2015</span>
        <h2 >Open Meetings Act Training Available</h2>

        <p>Pursuant to <a href="http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=84&ChapterID=2" target="_blank">Section 1.05 (b) of OMA</a>, each elected and appointed member of a public body subject to OMA must successfully complete the electronic training not later than 90 days after the member takes the oath of office or otherwise assume responsibilities as a member of a public body.</p>

        <p>Access the OMA training here: <a href="http://foia.ilattorneygeneral.net/electronic_foia_training.aspx" onclick="ga('send', 'event', 'OMA Training', 'Click', 'http://foia.ilattorneygeneral.net/electronic_foia_training.aspx')">http://foia.ilattorneygeneral.net/electronic_foia_training.aspx</a></p>


      </div>




      <div class="news-item meetings">
        <span class="news-category">MEETINGS</span>&nbsp<span class="news-date">04.06.2015</span>
        <h2 >Upcoming Commission meetings scheduled</h2>

        <p>The Commission has scheduled meetings for the following dates:</p>

        <ul>
          <li>Saturday, April 25 at 1:00 pm in Chicago.</li>
          <li>Thursday, May 14 at 1:30 pm in Springfield.</li>
          <li>Wednesday, June 3 at 1:00 pm location TBD</li>
        </ul>

        <p>Meeting locations, agendas, and meeting materials will be posted as they are received.</p>

      </div>



        <div class="news-item materials">
          <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.06.2015</span>
          <h2 >Handouts from the March 26 Commission Meeting</h2>

          <p>The following items were handed out at the first meeting of the Commission on Thursday, March 26th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 1.pdf')">Drivers of Illinois' Prison Population -- Part 1&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 2.pdf')">Drivers of Illinois' Prison Population -- Part 2&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Probation.pdf')">The Journey to Evidence-Based Practices in Illinois Probation &nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/AOIC.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'AOIC.pdf')">Illinois Probation, Pretrial, and Detention Overview&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

        </div> <!-- //news-item -->






      <div class="news-item meetings">



        <span class="news-category">MEETINGS</span>&nbsp<span class="news-date">03.23.2015</span>

      <h2 >Commission to convene March 26</h2>



      <p>The first meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform will be held Thursday, March 26 at 1:30 p.m. in Stratton Rm. 349C, Robert Oxtoby Board Room North, Stratton Office Building, 401 South Spring Street, Springfield, Illinois, 62706.</p>

      <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/CommissionAgenda03-26-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'CommissionAgenda03-26-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>





      </div> <!-- //news-item -->


<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">View all&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
