---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <!--<a href="research/25-by-2025.html" class="mosaic-link">-->
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

    <!--  </a>-->
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <div style="height: 30px"></div>
      <!--<h1 style="padding-left: 15px">The Latest News</h1>-->
    </div>






    <div class="col-md-7" style="background: #fff; ">


      <div class="news-item commission-meetings first">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">04.23.2015</span>
        <h2 >Commission to meet on Saturday, April 25 2015</h2>
        <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet Saturday, April 25 at 1:00 p.m. in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Commission agenda 4-25-15 meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission agenda 4-25-15 meeting.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
      </div>








      <div class="news-item subcommittee">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.23.2015</span>
        <h2 >Subcommittee on Implementation to meet on Saturday, April 25 2015 </h2>
        <p>The Implementation subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 from 12:00 p.m. to 12:45pm in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/Organizational mtg agenda-imp.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Organizational mtg agenda-imp.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
      </div>





      <div class="news-item subcommittee">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.22.2015</span>
        <h2 >Subcommittee on Law to meet on Saturday, April 25 2015 </h2>
        <p>The Law subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 from 12:15 p.m. to 1pm in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/Law Subcommittee 4.25 meeting notice.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 4.25 meeting notice.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
      </div>












      <div class="news-item subcommittee">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">04.21.2015</span>
        <h2 >Subcommittee on Budget and System Capacity to meet on Saturday, April 25 2015 </h2>
        <p>The Budget and System Capacity subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Saturday, April 25 at 12:00 p.m. in Kasbeer Hall at Corboy Law Center, 15th Floor, Loyola University Chicago, Water Tower Campus, 25 East Pearson Ave., Chicago, IL  60611
.</p>

        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}word/budget-system04-25-2015.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'budget-system04-25-2015.docx')">Download the agenda&nbsp;<i class="fa fa-file-word-o"></i></a></p>
          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Loyola Water Tower Campus Buildings map.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Loyola Water Tower Campus Buildings map.pdf')">Download a map of the Loyola Water Tower campus&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>
      </div>





      <div class="news-item training">
        <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.13.2015</span>
        <h2 >Full audio of 03.26.2015 Commission meeting now available</h2>
        <p>Click to listen to the audio.</p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200210572&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>















<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">View all&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
