---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <!--<a href="research/25-by-2025.html" class="mosaic-link">-->
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

    <!--  </a>-->
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <div style="height: 30px"></div>
      <!--<h1 style="padding-left: 15px">The Latest News</h1>-->
    </div>






    <div class="col-md-7" style="background: #fff; ">

      <div class="news-item subcommittee first">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.11.2015</span>
        <h2 >Subcommittee on Jails to meet on Monday, May 28 2015 </h2>
        <p>The Subcommittee on Jails will meet on Monday, May 28 2015 at 10:30am in the Stratton Building, Room 348-N, 401 South Spring Street, Springfield, Illinois 62794.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Memo Subcommission Board Meeting May 28.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memo Subcommission Board Meeting May 28.2015.pdf')">Download the meeting announcement&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>




      <div class="news-item subcommittee">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.11.2015</span>
        <h2 >Subcommittee on Law to meet on Thursday, May 14 2015 </h2>
        <p>The Subcommittee on Law will meet on Thursday, May 14 2015 from 11am to 1pm in Room 348, N Stratton Building, State Capitol, Springfield, Illinois 62794.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Law Subcommittee 5.14 meeting notice.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Law Subcommittee 5.14 meeting notice.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>





      <div class="news-item materials">
        <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.05.2015</span>
        <h2 >Presentations from the 04.25.2015 Commission Meeting</h2>

        <p>The following items were presented at the second meeting of the Commission on Saturday, April 25th.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<strong>Targeting Dispositions
by Risk, Need, Responsivity</strong> &mdash; <a href="{{assets}}pdf/Il.Gov.Cmn.04.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="{{assets}}ppt/Il.Gov.Cmn.04.2015.pptx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pptx')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<strong>IDOC: Programs and Support Services</strong> &mdash; <a href="{{assets}}pdf/IDOC Power Point Presentation (4  24 15)copy2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="{{assets}}ppt/IDOC Power Point Presentation (4  24 15)copy2.ppt" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.ppt')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>



      </div> <!-- //news-item -->





    

      <div class="news-item materials">
        <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">04.24.2015</span>
        <h2 >Minutes from the 03.26.15 Commission meeting available</h2>
        <p>Minutes from the March 26, 2015 Commission meeting are now available.</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/ICJSR Minutes - 3.26.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ICJSR Minutes - 3.26.15.pdf')">Download the minutes&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>
























<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
