---
layout: default.hbs
title: <%= site.title %>
---

<div class="container-fluid mosaic-container" style="margin-top: 52px">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/stock12.jpg')">
      <a href="article3.html" class="mosaic-link">
        <div class="mosaic-tall-headline">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/stock7.jpg')">
      <a href="article4.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/stock13.jpg')">
      <a href="article5.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Who do we send to prison?
        </div>

      </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/stock5.jpg')">
      <a href="article.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          What the research says
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/stock3.jpg')">
      <a href="article2.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Your comments
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>


<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <h1 style="padding-left: 15px">The Latest News</h1>
    </div>

    <div class="col-md-7" style="background: #fff; ">

      <div class="news-item first">


      <h2 >Commission News Item 1</h2>

      <p><span class="news-date">03.15.2015</span> // Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a orci id nisi molestie efficitur sed sit amet ipsum. Nullam eget euismod lorem. Maecenas nec justo interdum, dictum massa ac, porttitor ex. Quisque luctus nunc eu tincidunt placerat. Suspendisse luctus id mauris et bibendum. Curabitur quis erat ut erat auctor feugiat non non nibh.</p>

      <p>Vestibulum ornare nulla metus, non tristique elit pretium a. Etiam ac gravida nulla. In hac habitasse platea dictumst. Nunc pretium eros id lorem sagittis, ut lobortis nisi eleifend. Curabitur interdum suscipit est, et scelerisque eros tempor sed. Sed egestas vestibulum orci vel congue. Praesent pellentesque dolor purus, nec tristique nibh sagittis nec.

</p>
</div> <!-- //news-item -->





    </div>

</div>

</div>
