---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <a href="research/25-by-2025.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

     </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <div style="height: 30px"></div>
      <!--<h1 style="padding-left: 15px">The Latest News</h1>-->
    </div>






    <div class="col-md-7" style="background: #fff; ">



      <div class="news-item implementation first">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.27.2015</span>
        <h2 >Subcommittee on Implementation to meet on Friday, May 29</h2>
        <p>The Implementation subcomittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Friday, May 29 from 10:00am to 12pm at the Illinois Criminal Justice Information Authority 300 W. Adams, 2nd Floor Chicago, IL 60611.
    </p>

    <p><strong>Call-in information: 888-494-4032 / Access	Code:	3769614843#</strong></p>

    <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/implementationagenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'implementationagenda.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>



      <div class="news-item commission">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">05.27.2015</span>
        <h2 >Commission to meet on Wednesday, June 3</h2>
        <p>The next meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform  will meet Wednesday, June 3rd at 1pm in Robert Oxtoby Board Room, 3rd Floor, Stratton Office Building, 401 S. Spring Street Springfield, IL.</p>

    <p><i class="fa fa-angle-double-right"></i>&nbsp;Agenda forthcoming&nbsp;</p>

      </div>




      <div class="news-item materials corrections">
        <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.27.2015</span>
        <h2 >Presentations from the 05.26.2015 Community Corrections subcommittee meeting</h2>

        <p>The following was presented at the Community Corrections subcommittee meeting on Tuesday, May 26th.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<strong>ICJIA Research & Analysis Unit presentation</strong> &mdash; <a href="{{assets}}pdf/R&A Community Corrections Subctte 05262015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'R&A Community Corrections Subctte 05262015.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>



      </div> <!-- //news-item -->






      <div class="news-item jails">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">05.22.2015</span>
        <h2 >Subcommittee on Jails meeting rescheduled for Tuesday, June 2.</h2>
        <p>The Commission Jails Subcommittee will be held on Tuesday, June 2nd at 10:30 a.m. at the Illinois Department of Corrections Headquarters, Executive Conference Room, 1301 Concordia Ct., Springfield, IL 62794
</p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Memorandum Commission Jail Subcommittee 6.2.2015[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memorandum Commission Jail Subcommittee 6.2.2015[1].pdf')">Download the updated meeting announcement&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>






      <div class="news-item materials commission">
        <span class="news-category">MATERIALS</span>&nbsp<span class="news-date">05.22.2015</span>
        <h2 >Presentations from the 05.14.2015 Commission Meeting</h2>

        <p>The following items were presented at the third meeting of the Commission on Thursday, May 14th.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<strong>SPAC's presentation to the Commission</strong>&nbsp;&mdash;&nbsp;<a href="{{assets}}pdf/Commission meeting SPAC prezi 5.14.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission meeting SPAC prezi 5.14.15.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<strong>Getting to 25% by 2025</strong>&nbsp;&mdash;&nbsp;<a href="{{assets}}pdf/olsonmay142015commissionpresentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'olsonmay142015commissionpresentation.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>



      </div>







      <div class="news-item commission" style="width: 100%">
        <span class="news-category">AUDIO</span>&nbsp<span class="news-date">05.22.2015</span>
        <h2 >Full audio of 05.14.2015 Commission meeting now available</h2>
        <p>Click to listen to the audio.</p>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206701051&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


      </div>




























































<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
