---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---



<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <a href="research/25-by-2025.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

     </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" class="padding-right: 15px;">
      <div class="meeting-title"><div class="text-center">Upcoming Meetings</div></div>

<div class="meeting-box">


  <div class="meeting">
          <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;November 20, 2015</div>
          <div class="meeting-link">


          <h4 style="font-weight: 900">
            Full Commission

            </h4>
<p>ICJIA Offices, Chicago</p>
<p>9am to 5pm</p>
<p>Agenda TBD</p>

          </div>
        </div>



  <div class="meeting">
          <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;October 30, 2015</div>
          <div class="meeting-link">


          <h4 style="font-weight: 900">
            Full Commission

            </h4>
<p>ICJIA Offices, Chicago</p>
<p>9am to 5pm</p>
<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="/assets/news/Criminal%20Justice%20Commission%20agenda%2010-30-15%20meeting%20(1).pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memorandum - Oct 27 2015.pdf')">Agenda</a></p>
          </div>
        </div>













































</div>


    </div>






    <div class="col-md-8" style="background: #fff; border-left: 0px solid #eee; padding-left:10px">

      <div class="news-item commission first" style="width:100%"><span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">10.28.2015</span><h2>10.30.2015 Full Commission Meeting</h2><p>The Governor’s Commission on Criminal Justice & Sentencing Reform will meet Friday, October 30 from 9am to 5pm at the Illinois Criminal Justice Information Authority, 300 W. Adams Street, Suite 200, Chicago, Illinois.</p><p><a href="/assets/news/Criminal Justice Commission agenda 10-30-15 meeting (1).pdf">Agenda</a></p></div>


      <div class="news-item corrections" style="width: 100%">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">10.27.2015</span>
        <h2>10.29.2015 Community Corrections Meeting cancelled.</h2>
        <p>The 10.29.2015 meeting for the Community Corrections subcommittee has been cancelled.</p>



      </div>



            <div class="news-item commission audio" style="width: 100%">
              <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">10.08.2015</span>
              <h2>10.08.2015 Commission Meeting: Audio</h2>
              <p>Listen to an audio recording of the Commission meeting held October 08, 2015.</p>

      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228376560&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>




            </div>


      <div class="news-item subcommittee jails" style="width:100%"><span class="news-category">SUBCOMMITTEE MEETINGS</span> <span class="news-date">10.11.2015</span><h2>Jails subcommittee to meet 11.10.2015</h2><p>The next Commission Jails Subcommittee will be held on Tuesday November 10, 10:30am at the Illinois Department of Corrections Head Quarters, Executive Conference Room and James R. Thompson Center Video Conference Room.</p><p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="./pdf/Jail_Subcommittee_Meeting_Memorandum_111015.pdf" onClick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Downloads&quot;,&quot;Click&quot;,&quot;Jail_Subcommittee_Meeting_Memorandum_111015&quot;)">Download Jails Committee memo
      </a>
      </p>

      </div>



      <div class="news-item commission audio" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">10.08.2015</span>
        <h2>09.01.2015 Commission Meeting: Audio</h2>
        <p>Listen to an audio recording of the Commission meeting held September 01, 2015.</p>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/227505920&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>




      </div>

      <div class="news-item subcommittee jails" style="width: 100%">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">09.24.2015</span>
        <h2>Jails subcommittee to meet 10.27.2015 </h2>
        <p>The next Commission Jails Subcommittee will be held on Tuesday October 27, 10:30am at the Illinois Department of Corrections Head Quarters, Executive Conference Room and James R. Thompson Center Video Conference Room.</p>

        <p>For location information, please <a href="{{assets}}pdf/Memorandum - Oct 27 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memorandum - Oct 27 2015.pdf')">download the memo</a>.</p>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Memorandum - Oct 27 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Memorandum - Oct 27 2015.pdf')">Download Jails Committee memo</a></p>




      </div>








      <div class="news-item commission materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">09.16.2015</span>
        <h2>Commission meeting minutes available</h2>
        <p>Minutes from the 06.03.2015 and 07.23.2015 Commission meetings are available for download.</p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Minutes -- 6-3-15 Meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Minutes -- 6-3-15 Meeting.pdf')">06.03.2015 Minutes&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Reform Commission Meeting 7-23-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Meeting 7-23-15.pdf')">07.23.2015 Minutes&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>


      <div class="news-item commission audio" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">09.14.2015</span>
        <h2>09.08.2015 Commission Meeting: Audio</h2>
        <p>Listen to an audio recording of the Commission meeting held September 08, 2015.</p>

      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223266595&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>




      </div>










      <div class="news-item commission materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">08.31.2015</span>
        <h2>07.27.2015 Commission Public Hearing: Testimony, Materials</h2>
        <p>Additional material from the Commission public hearing held June 27, 2015.</p>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Snyder testimony 072715 to ISCCJSR.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Snyder testimony 072715 to ISCCJSR.pdf')">Testimony: Jean Maclean Snyder
on behalf of Project I-11&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Exhibit 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Exhibit 1.pdf')">SPAC: Prison Resource Consumption by Offense Class&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

<p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Exhibit 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Exhibit 2.pdf')">IDOC: Cross-section of Inmates Serving Long Sentence Terms&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>

































      <div class="news-item commission" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.01.2015</span>
        <h2>Initial Report of the Illinois State Commission on Criminal Justice and Sentencing Reform</h2>
        <p>July 1, 2015: SPRINGFIELD -- Governor Bruce Rauner received today the initial report from the Illinois State Commission on Criminal Justice and Sentencing Reform, pursuant to Executive Order 15-14.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Reform Commission Initial Report.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Initial Report.pdf')">Download report&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>



      </div>






























<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
