---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---



<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <a href="research/25-by-2025.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

     </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" class="padding-right: 15px;">
      <div class="meeting-title"><div class="text-center">Upcoming Meetings</div></div>

<div class="meeting-box">


  <div class="meeting">
          <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;January 14, 2016</div>
          <div class="meeting-link">


          <h4 style="font-weight: 900">
            Full Commission

            </h4>

            <div style="color: #333; margin-left: 10px">

            <p><strong>Location:</strong><br/>
              Robert Oxtoby Board Room 3rd Floor<br/>
Stratton Office Building<br/>
401 S. Spring Street<br/>
Springfield Illinois<br/>
<strong>Time:</strong><br/>
9am - 4pm</p>
</div>


          </div>
        </div>


        <div class="meeting">
                <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;February 18, 2016</div>
                <div class="meeting-link">


                <h4 style="font-weight: 900">
                  Full Commission

                  </h4>
                  <div style="color: #333; margin-left: 10px">
                    <p><strong>Location:</strong><br/>
                      TBD<br/>
                      <strong>Time:</strong><br/>
                      9am - 4pm
                    </p>
                  </div>

                </div>
              </div>


              <div class="meeting">
                      <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;March 10, 2016</div>
                      <div class="meeting-link">


                      <h4 style="font-weight: 900">
                        Full Commission

                        </h4>

                        <div style="color: #333; margin-left: 10px">
                          <p><strong>Location:</strong><br/>
                            TBD<br/>
                            <strong>Time:</strong><br/>
                            9am - 4pm
                          </p>
                        </div>


                      </div>
                    </div>




















































</div>


    </div>



    <div class="col-md-8" style="background: #fff; border-left: 0px solid #eee; padding-left:10px">

      <div class="news-item commission audio first" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">12.11.2015</span>
        <h2>11.20.2015 Commission Meeting: Audio</h2>
        <p>Listen to an audio recording of the Commission meeting held November 20, 2015.</p>


        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236999391&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



      </div>






      <div class="news-item commission audio" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">11.10.2015</span>
        <h2>10.30.2015 Commission Meeting: Audio</h2>
        <p>Listen to an audio recording of the Commission meeting held October 30, 2015.</p>


        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/232429301&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



      </div>

























      <div class="news-item commission audio" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">09.14.2015</span>
        <h2>09.08.2015 Commission Meeting: Audio</h2>
        <p>Listen to an audio recording of the Commission meeting held September 08, 2015.</p>

      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223266595&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>




      </div>











































      <div class="news-item commission" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.01.2015</span>
        <h2>Initial Report of the Illinois State Commission on Criminal Justice and Sentencing Reform</h2>
        <p>July 1, 2015: SPRINGFIELD -- Governor Bruce Rauner received today the initial report from the Illinois State Commission on Criminal Justice and Sentencing Reform, pursuant to Executive Order 15-14.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Reform Commission Initial Report.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Initial Report.pdf')">Download report&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>



      </div>






























<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
