---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---



<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <a href="research/25-by-2025.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

     </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" class="padding-right: 15px;">
      <div class="meeting-title"><div class="text-center">Upcoming Meetings</div></div>

<div class="meeting-box">









              <div class="meeting">
                      <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;September 29, 2016</div>
                      <div class="meeting-link">


                      <h4 style="font-weight: 900">
                        Full Commission

                        </h4>

                        <div style="color: #333; margin-left: 10px">

                          <p>
                          <strong>Location:</strong><br/>

                          TASC<br>
                          700 S. Clinton<br>
                          Chicago, Illinois<br>
<strong>Time:</strong><br/>
TBA<br/><br/>
<!-- <em>Note: Location subject to change up to 48 hours before meeting.</em><br/><br/> -->

                              <!-- <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Meeting draft agenda 08-25-16.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Meeting draft agenda 08-25-16.pdf')">Download agenda&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a> -->

                            <!-- <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Meeting agenda 7-7-16.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'pdf/Commission Meeting agenda 7-7-16.docx')">Agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a> -->
                          </p>
                        </div>


                      </div>
                    </div>




















































</div>


    </div>



    <div class="col-md-8" style="background: #fff; border-left: 0px solid #eee; padding-left:10px">








    <div class="text-center news-item commission well first" style="width: 100%">

      <h2>Final Report of the Illinois State Commission on Criminal Justice and Sentencing Reform (Part 1)</h2>
      <p></p>

      <p class="" style="margin-top: 20px; text-transform: uppercase; ">
        <a class="btn btn-default" href="{{assets}}pdf/CJSR%20Final%20Report%20Part%20I%201-4-2016.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'CJSR Final Report Part I 1-4-2016.pdf')" style="font-weight: bold">Download report&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></a>
      </p>



    </div>



    <div class="news-item commission audio" style="width: 100%">
      <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">09.14.2016</span>
      <h2>08.25.2016 Commission Meeting: Audio</h2>
      <p>Listen to an audio recording of the Commission meeting held August 25, 2016.</p>

<br><br>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/282870250&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



    </div>




    <div class="news-item commission audio" style="width: 100%">
      <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.12.2016</span>
      <h2>07.07.2016 Commission Meeting: Audio</h2>
      <p>Listen to an audio recording of the Commission meeting held July 7, 2016.</p>

<br><br>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/273311539&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<br><br>


<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/273311796&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


    </div>













              <!-- <div class="news-item commission audio" style="width: 100%">
                <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">05.04.2016</span>
                <h2>03.21.2016 Commission Meeting: Audio</h2>
                <p>Listen to an audio recording of the Commission meeting held March 21, 2016.</p>


            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262455093&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



              </div> -->





































































<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
