---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings & Materials
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/staircase.jpg')">
      <a href="research/25-by-2025.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          25% by 2025
        </div>

     </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/national-prison-data.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          National Prison Overview
        </div>
      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison3.jpg')">
      <a href="research/illinois-prison-overview.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Illinois Prison Overview
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" class="padding-right: 15px;">
      <div class="meeting-title"><div class="text-center">Upcoming Meetings</div></div>

<div class="meeting-box">



  <div class="meeting">
          <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;August 17, 2015</div>
          <div class="meeting-link">


          <h4 style="font-weight: 900">
            Subcommittee on Community Corrections

            </h4>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

          </div>
        </div>









  <div class="meeting">
          <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;August 13, 2015</div>
          <div class="meeting-link">


          <h4 style="font-weight: 900">
            Subcommittee on Jails

            </h4>


        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Jail Subcommittee Agenda 8.13.15[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee Agenda 8.13.15[1].pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

          </div>
        </div>





















</div>


    </div>






    <div class="col-md-8" style="background: #fff; border-left: 0px solid #eee; padding-left:10px">


      <div class="news-item jail materials first" style="width: 100%">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">08.11.2015</span>
        <h2 >Jails subcommittee agenda for August 13</h2>
        <p>The agenda for the Subcommittee on Jails meeting on Thursday, August 13 is available.</p>



        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Jail Subcommittee Agenda 8.13.15[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee Agenda 8.13.15[1].pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>




      <div class="news-item corrections">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">08.06.2015</span>
        <h2 >Subcommittee on Community Corrections to meet on Monday, August 17</h2>
        <p>The Community Corrections subcommittee for the Illinois State Commission on Criminal Justice and Sentencing Reform will meet Monday, August 17 from 2:30pm to 4:30pm at the James
R.
Thompson
Center,
100
West
Randolph
Street,
Room
2-­‐025
Chicago,
Illinois
60601.</p>

    <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf')">Download the agenda&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>








      <div class="news-item commission audio materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.29.2015</span>
        <h2>07.27.2015 Commission Public Hearing: Audio, Materials</h2>
        <p>Listen to an audio recording of the Commission public hearing held June 27, 2015.</p>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216933369&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf')">Thresholds - Statement and Recommendations&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

      </div>


      <div class="news-item commission materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.28.2015</span>
        <h2>07.27.2015 Commission meeting: Written testimony</h2>
        <p>Written testimony from the Juvenile Justice Initiative presented at the 07.27.2015 Commission meeting.</p>


        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JJI Written Testimony 072715.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JJI Written Testimony 072715.pdf')">Download&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>





      <div class="news-item commission audio materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.27.2015</span>
        <h2>07.23.2015 Commission meeting: Audio, meeting materials</h2>
        <p>Listen to an audio recording of the Commission meeting held June 23, 2015.</p>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216567386&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


          <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/graphscookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'graphscookcountyforcommissionfromloyolafinalversion.pdf')">David E. Olson and Donald Stemen - Overview of Cook County Justice System Activities&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/memocookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'memocookcountyforcommissionfromloyolafinalversion.pdf')">David E. Olson and Donald Stemen - Memo&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>






      <div class="news-item subcommittee audio" style="width: 100%">
        <span class="news-category">SUBCOMMITTEE MEETINGS</span>&nbsp<span class="news-date">07.27.2015</span>
        <h2>07.23.2015 Implementation subcommittee: Audio</h2>
        <p>Listen to an audio recording of the Subcommittee on Implementation meeting held July 23, 2015.</p>


        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216561403&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



      </div>







      <div class="news-item commission materials" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.24.2015</span>
        <h2>06.25.2015 Commission meeting: Video, meeting materials</h2>
        <p>Watch video of the Commission meeting held June 25, 2015.</p>


        <iframe width="210" height="152" src="https://www.youtube.com/embed/_NIGXh7tDDQ" frameborder="0" style="margin-left: 20px" allowfullscreen></iframe>


        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf')">David Kennedy - Deterrence and Crime Prevention&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/June 25_Sentencing Commission Presentation_06252015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'June 25_Sentencing Commission Presentation_06252015.pdf')">Megan Alderden - What the Research Says&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>







      </div>



























      <div class="news-item commission" style="width: 100%">
        <span class="news-category">COMMISSION MEETINGS</span>&nbsp<span class="news-date">07.01.2015</span>
        <h2>Initial Report of the Illinois State Commission on Criminal Justice and Sentencing Reform</h2>
        <p>July 1, 2015: SPRINGFIELD -- Governor Bruce Rauner received today the initial report from the Illinois State Commission on Criminal Justice and Sentencing Reform, pursuant to Executive Order 15-14.</p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Criminal Justice Reform Commission Initial Report.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Initial Report.pdf')">Download report&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>



      </div>






























<div style="height: 20px"></div>
<div class="text-center">
<a class="ghost-button xlong" style="font-size: 12px; margin-top: 25px" href="{{assets}}about/meetings.html">Meetings & Materials archive&nbsp;<i class="fa fa-angle-double-right"></i> </a>
</div>

    </div>

</div>

</div>
</section>
