---
layout: default.hbs
description: "The Illinois State Commission on Criminal Justice and Sentencing Reform"
dateCreated: 03-24-2015 11:46:00
slug: 'Welcome to the Illinois State Commission on Criminal Justice and Sentencing Reform'
---

<div class="container-fluid mosaic-container">

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well">

  <progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar">test</span>
  </div>
  </progress>
  <div style="height: 450px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/springfield-v2.jpg')">
      <a href="about/index.html" class="mosaic-link">
        <div class="mosaic-tall-headline dark">
          The Commission
        </div>

      </a>

    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/meetings.jpg')">
      <a href="about/meetings.html" class="mosaic-link">
        <div class="mosaic-short-headline right">
          Meetings
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/159H.jpg')">
      <a href="research/who-do-we-send-to-prison.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Who do we send to prison?
        </div>

      </a>
    </div>
  </div>

</div>

<div class="col-md-4 col-sm-12 col-xs-12 mosaic-well" >
  <div style="height: 225px;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/prison.jpg')">
      <a href="research/what-the-research-says.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          What the research says
        </div>

      </a>
    </div>
  </div>



  <div style="height: 225px; border-top: 1px solid #fff;">
    <div class="overlay" style="height: 225px; background-image: url('{{assets}}img/comments1.jpg')">
      <a href="about/comments.html" class="mosaic-link">
        <div class="mosaic-short-headline">
          Submit your comments
        </div>

      </a>
    </div>
  </div>

</div>




</div>


<div class="clear"></div>

<div class="container-fluid" style="margin: 0; padding: 0;">
  <div style="height: 10px; background: #f44013"></div>
</div>




<div style="height: 20px"></div>

<section id="meetings">
<div class="container-fluid" style="margin: 0; padding: 0; margin-top: 30px ">
  <div class="row">

    <div class="col-md-3" style="background: #f44013; ">
      <div style="height: 30px"></div>
      <!--<h1 style="padding-left: 15px">The Latest News</h1>-->
    </div>

    <div class="col-md-7" style="background: #fff; ">


      <div class="news-item first">
        <span class="news-category">MEETING</span>&nbsp<span class="news-date">04.06.2015</span>
        <h2 >Upcoming Comission meetings scheduled</h2>

        <p>The Commission has scheduled meetings for the following dates:</p>

        <ul>
          <li>Saturday, April 25 at 1:00 pm in Chicago.</li>
          <li>Thursday, May 14 at 1:30 pm in Springfield.</li>
          <li>Wednesday, June 3 at 1:00 pm location TBD</li>
        </ul>

        <p>Meeting locations, agendas, and meeting materials will be posted as they are received.</p>

      </div>



        <div class="news-item">
          <span class="news-category">MEETING MATERIALS</span>&nbsp<span class="news-date">04.06.2015</span>
          <h2 >Handouts from the March 26 Commission Meeting</h2>

          <p>The following items were handed out at the first meeting of the Commission on Thursday, March 26th.</p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 1.pdf')">Drivers of Illinois' Prison Population -- Part 1&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 2.pdf')">Drivers of Illinois' Prison Population -- Part 2&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Probation.pdf')">The Journey to Evidence-Based Practices in Illinois Probation &nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

          <p>
            <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/AOIC.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'AOIC.pdf')">Illinois Probation, Pretrial, and Detention Overview&nbsp;<i class="fa fa-file-pdf-o"></i></a>
          </p>

        </div> <!-- //news-item -->


<div style="height: 30px"></div>


    </div>

</div>

</div>
</section>
