<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Full Commission</h3>

  </div>

  <div class="panel-body">

    <table class="table table-condensed fc-table">

      <thead>

      </thead>

      <tbody>

        <tr >
          <td class="strong" width="33%">November 20, 2015</td>
          <td ><a href="{{assets}}pdf/agenda-11-20-2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'agenda-11-20-2015.pdf')">Agenda</a> | <a href="https://soundcloud.com/icjia/governors-commission-sentencing-reform-nov-20-2015">Audio</a>
          </td>

          <td data-toggle="collapse" data-target="#fc18" class="accordion-toggle">
            <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
          </td>


        </tr>

        <tr>
      <td colspan="6" class="hiddenRow">
        <div id="fc18" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/communitiesunited-scan11252015_00003.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'communitiesunited-scan11252015_00003.pdf')">Public Comment: Communities United&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/justharvest-scan11252015_00002.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'justharvest-scan11252015_00002.pdf')">Public Comment: Just Harvest&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

              <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/scan12072015_00000.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'scan12072015_00000.pdf')">Public Comment: Men and women incarcerated under Truth In Sentencing&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>




          </div>
        </div>
      </td>
    </tr>


        <tr >
          <td class="strong" width="33%">October 30, 2015</td>
          <td width="33%"><a href="{{assets}}pdf/Criminal Justice Commission agenda 10-30-15 meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission agenda 10-30-15 meeting.pdf')">Agenda</a> | <a href="https://soundcloud.com/icjia/illinois-criminal-justice-and-sentencing-reform-commission-10-30-15">Audio</a>
          </td>
          <td data-toggle="collapse" data-target="#fc11" class="accordion-toggle">
            <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
          </td>
        </tr>
        <tr>
      <td colspan="6" class="hiddenRow">
        <div id="fc11" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JJI Written Testimony Oct 30 2015[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JJI Written Testimony Oct 30 2015[1].pdf')">Testimony: Juvenile Justice Initiative&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Testimony Project I-11 103015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Testimony Project I-11 103015.pdf')">Testimony: PROJECT I-11&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/scan10202015_00001_edited.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'scan10202015_00001_edited.pdf')">Correspondance: Margaret M. O'Connor&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



          </div>
        </div>
      </td>
    </tr>



        <tr >
          <td class="strong" width="33%">October 8, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/Commission Meeting agenda 10-08-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Meeting agenda 10-08-15.pdf')">Agenda</a>&nbsp;|&nbsp;<a href="https://soundcloud.com/icjia/10-08-15-governors-commission-on-criminal-justice-sentencing-reform">Audio</a>
          </td>
          <td data-toggle="collapse" data-target="#fc11" class="accordion-toggle">
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="fc11" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/public_comment_applington.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'public_comment_applington.pdf')">Public Comment: Applington&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



          </div>
        </div>
      </td>
    </tr> -->





        <tr >
          <td class="strong" width="33%">September 8, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/Draft Commission Meeting agenda 9_8_15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Draft Commission Meeting agenda 9_8_15')">Agenda</a> | <a href="{{assets}}pdf/ICJSR Minutes - 9-8-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ICJSR Minutes - 9-8-15.pdf')">Minutes</a> | <a href="https://soundcloud.com/icjia/governors-reform-commission-09-08-15.pdf">Audio</a>
          </td>
          <td data-toggle="collapse" data-target="#fc9" class="accordion-toggle">
            <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
          </td>
        </tr>
        <tr>
      <td colspan="6" class="hiddenRow">
        <div id="fc9" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/public_comment_applington.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'public_comment_applington.pdf')">Public Comment: Applington&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

              <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/scan11052015_00003.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'scan11052015_00003.pdf')">Public Comment: Concerned Citizen&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



          </div>
        </div>
      </td>
    </tr>


    <tr >
      <td class="strong" width="33%">September 1, 2015</td>

      <td width="33%"><a href="https://soundcloud.com/icjia/09-01-15-governors-commission">Audio</a>
  </td>
      </td>


      <td data-toggle="collapse" data-target="#fc10" class="accordion-toggle">
        <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
      </td>
    </tr>
    <tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc10" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/scan10052015_00000.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'scan10052015_00000.pdf')">Gaining Legislative Support for Structured Sentencing&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>
    </div>
  </td>
</tr>







        <tr >
          <td class="strong">July 27, 2015</td>

          <td><a href="{{assets}}pdf/COMMISSION PUBLIC HEARING - JULY 27, 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'COMMISSION PUBLIC HEARING - JULY 27, 2015.pdf')">Agenda</a> | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-public-hearing-07-27-15">Audio</a>
      </td>
      <td data-toggle="collapse" data-target="#fc7" class="accordion-toggle">
        <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="hiddenRow">
        <div id="fc7" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JJI Written Testimony 072715.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JJI Written Testimony 072715.pdf')">Testimony: JJI Written Testimony&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice Involvement and Sentencing Reform_Statement and Recommendations.pdf')">Testimony: Thresholds Statement and Recommendations&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Snyder testimony 072715 to ISCCJSR.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Snyder testimony 072715 to ISCCJSR.pdf')">Testimony: Jean Maclean Snyder
    on behalf of Project I-11&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Exhibit 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Exhibit 1.pdf')">Presentation: SPAC Prison Resource Consumption by Offense Class&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Exhibit 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Exhibit 2.pdf')">Presentation: IDOC Cross-section of Inmates Serving Long Sentence Terms&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

            <p>
              <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/JudgeWenzelman.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'JudgeWenzelman.pdf')">Letter: Judge Wenzelman's&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
            </p>



  </div>
</div>
</td>
</tr>




<tr >
  <td class="strong">July 23, 2015</td>

  <td><a href="{{assets}}pdf/Criminal Justice Commission Agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission Agenda.pdf')">Agenda</a> | <a href="{{assets}}pdf/Criminal Justice Reform Commission Meeting 7-23-15.pdf"
    onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Reform Commission Meeting 7-23-15.pdf')">Minutes</a> | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-07-23-15">Audio</a>
  </td>
  <td data-toggle="collapse" data-target="#fc6" class="accordion-toggle">
    <button class="btn btn-default btn-xs" >
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>
</tr>
<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc6" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/graphscookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'graphscookcountyforcommissionfromloyolafinalversion.pdf')">Presentation:  Overview of Cook County Justice System Activities&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/memocookcountyforcommissionfromloyolafinalversion.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'memocookcountyforcommissionfromloyolafinalversion.pdf')">Memo: Olson and Stemen&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>


      </div>
    </div>
  </td>
</tr>







<tr >
  <td class="strong">June 25, 2015</td>

  <td><a href="{{assets}}pdf/Final Commission Meeting Agenda 6-25-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Final Commission Meeting Agenda 6-25-15.pdf')">Agenda</a> |
    <a href="{{assets}}pdf/ICJSR Minutes - 06-25-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'ICJSR Minutes - 06-25-15.pdf')">Minutes</a> | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-06-25-15">Audio</a>    | <a href="https://www.youtube.com/embed/_NIGXh7tDDQ">Video</a></td>
  <td data-toggle="collapse" data-target="#fc5" class="accordion-toggle">
    <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>
</tr>
<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc5" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Reform Commission 6.25.15 Media Advisory.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Reform Commission 6.25.15 Media Advisory.pdf')">Media advisory&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Reform Commission 6.25.15 PRESS RELEASE.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Reform Commission 6.25.15 PRESS RELEASE.pdf')">Press release&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'David Kennedy - Illinois Sentencing Commission Deterrence Presentation.pdf')">Presentation: Deterrence and Crime Prevention&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>

        <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/June 25_Sentencing Commission Presentation_06252015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'June 25_Sentencing Commission Presentation_06252015.pdf')">Presentation: What the Research Says&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



      </div>
    </div>
  </td>
</tr>


<tr >
  <td class="strong">June 3, 2015</td>

  <td><a href="{{assets}}pdf/Commission 6-3-15 Agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission 6-3-15 Agenda.pdf')">Agenda</a> | <a href="{{assets}}pdf/Commission Minutes -- 6-3-15 Meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Minutes -- 6-3-15 Meeting.pdf')">Minutes</a>    | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-06-03-15">Audio</a>
  </td>
  <td data-toggle="collapse" data-target="#fc4" class="accordion-toggle">
    <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>
</tr>
<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc4" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Prison Higher Ed Fact Sheet.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Prison Higher Ed Fact Sheet.pdf')">Public comment: Prison Education Saves States Dollars&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/RAND_RR564.sum.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'RAND_RR564.sum.pdf')">Public comment: How Effective Is Correctional Education, and Where Do We Go from Here?&nbsp;&mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/MM Treatment Capacity Revamp EO commission.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'MM Treatment Capacity Revamp EO commission.pdf')">Presentation: Treatment Capacity in Illinois &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;
          <a
          href="{{assets}}ppt/Treatment Capacity Revamp EO commission.pptx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Treatment Capacity Revamp EO commission.pptx')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>




        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/NIS Commission Presentation June 03.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'NIS Commission Presentation June 03.pdf')">Presentation: System-wide Criminal Justice Spending &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;
          <a
          href="{{assets}}ppt/Commission Presentation June 03 060215 vF.ppt" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Presentation June 03 060215 vF.ppt')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>


      </div>
    </div>
  </td>
</tr>








<tr >
  <td class="strong">May 14, 2015</td>

  <td><a href="{{assets}}pdf/Criminal Justice Commission Agenda for 5_14_15 mtg.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission Agenda for 5_14_15 mtg.pdf')">Agenda</a> | <a href="../pdf/Meeting 3 Draft Minutes.pdf" onclick='ga("
    send ","event ","Downloads ","Click ","Meeting 3 Draft Minutes.pdf ")'>Minutes</a> | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-05-14-15">Audio</a>
  </td>
  <td data-toggle="collapse" data-target="#fc3" class="accordion-toggle">
    <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>
</tr>
<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc3" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission meeting SPAC prezi 5.14.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission meeting SPAC prezi 5.14.15.pdf')">Presentation: SPAC&nbsp;&mdash;&nbsp;PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/olsonmay142015commissionpresentation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'olsonmay142015commissionpresentation.pdf')">Presentation: Getting to 25% by 2025&nbsp;&mdash;&nbsp;PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Testimony 051415 - Dr. C. Billups.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Dr. C. Billups.pdf')">Testimony: Dr. C. Billups &mdash;PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Commission Testimony 051415 - Rev. C. Reuter.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission Testimony 051415 - Rev. C. Reuter.pdf')">Testimony: Rev. C. Reuter &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>




        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Why Prisons - Bishop J. Schlarman.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Why Prisons - Bishop J. Schlarman.pdf')">Background: Why Prisons? - Bishop J. Schlarman
          &mdash; PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://americamagazine.org/issue/prison-addiction">Background: Prison Addiction
          &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="http://www.usccb.org/issues-and-action/human-life-and-dignity/criminal-justice-restorative-justice/crime-and-criminal-justice.cfm">Background: Responsibility, Rehabilitation, And Restoration
          &mdash; Link&nbsp;<i class="fa fa-external-link"></i></a>
        </p>


      </div>
    </div>
  </td>
</tr>






<tr >
  <td class="strong">April 25, 2015</td>

  <td><a href="{{assets}}pdf/Criminal Justice Commission agenda 4-25-15 meeting.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Criminal Justice Commission agenda 4-25-15 meeting.pdf')">Agenda</a> | <a href="../pdf/Meeting 2 Draft Minutes.pdf" onclick='ga("
    send ","event ","Downloads ","Click ","Meeting 2 Draft Minutes.pdf ")'>Minutes</a>
  </td>

  <td data-toggle="collapse" data-target="#fc2" class="accordion-toggle">
    <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>



</tr>

<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc2" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;Presentation: Targeting Dispositions by Risk, Need, Responsivity &mdash; <a href="{{assets}}pdf/Il.Gov.Cmn.04.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;
          <a
          href="{{assets}}ppt/Il.Gov.Cmn.04.2015.pptx" onclick="ga('send', 'event', 'Downloads', 'Click', 'Il.Gov.Cmn.04.2015.pptx')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;Presentation: IDOC Programs and Support Services &mdash; <a href="{{assets}}pdf/IDOC Power Point Presentation (4  24 15)copy2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.pdf')">PDF&nbsp;<i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;
          <a
          href="{{assets}}ppt/IDOC Power Point Presentation (4  24 15)copy2.ppt" onclick="ga('send', 'event', 'Downloads', 'Click', 'IDOC Power Point Presentation (4  24 15)copy2.ppt')">PowerPoint&nbsp;<i class="fa fa-file-powerpoint-o"></i></a>
        </p>


      </div>
    </div>
  </td>
</tr>





<tr >
  <td class="strong">March 26, 2015</td>

  <td><a href="/pdf/CommissionAgenda03-26-15.pdf" onclick='ga(" send ","event ","Downloads ","Click ","CommissionAgenda03-26-15.pdf ")'>Agenda</a> | <a href="../pdf/Meeting 1 Draft Minutes.pdf" onclick='ga(" send ","event ","Downloads ","Click ","Meeting
    1 Draft Minutes.pdf ")'>Minutes</a> | <a href="https://soundcloud.com/icjia/governors-commission-on-criminal-justice-sentencing-reform-03-26-15">Audio</a>
  </td>
  <td data-toggle="collapse" data-target="#fc1" class="accordion-toggle">
    <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button>
  </td>
</tr>
<tr>
  <td colspan="6" class="hiddenRow">
    <div id="fc1" class="accordian-body collapse">
      <div class="accordian-body-content">

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 1.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 1.pdf')">Presentation: Drivers of Illinois' Prison Population -- Part 1&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Drivers of Prison Pop Pt 2.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Drivers of Prison Pop Pt 2.pdf')">Presentation: Drivers of Illinois' Prison Population -- Part 2&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Probation.pdf')">Presentation: The Journey to Evidence-Based Practices in Illinois Probation &nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>

        <p>
          <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/AOIC.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'AOIC.pdf')">Presentation: Illinois Probation, Pretrial, and Detention Overview&nbsp;<i class="fa fa-file-pdf-o"></i></a>
        </p>


      </div>
    </div>
  </td>
</tr>






</tbody>
</table>










</div>


</div>
