
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jails Subcommittee</h3>
  </div>

  <div class="panel-body">

    <table class="table table-condensed fc-table">

      <thead>

      </thead>

      <tbody>


        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="33%">November 10, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/Jail Subcommittee Agenda 11.10.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee Agenda 11.10.15.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->


        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="33%">September 22, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/Jail Subcommittee Agenda 9.22.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee Agenda 9.22.15.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->




        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="30%">August 13, 2015</td>

          <td><a href="{{assets}}pdf/Jail Subcommittee Agenda 8.13.15[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee Agenda 8.13.15[1].pdf')">Agenda</a> | <a href="{{assets}}pdf/Jail Subcommittee minutes 8.13.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee minutes 8.13.2015.pdf')">Minutes</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->





        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong">July 7, 2015</td>

          <td><a href="{{assets}}pdf/Jail 7.7.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail 7.7.15.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->





        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong">June 2, 2015</td>

          <td><a href="{{assets}}pdf/jails Subcommittee Agenda 6.2.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'jails Subcommittee Agenda 6.2.15.pdf')">Agenda</a> | <a href="{{assets}}pdf/Jail Subcommittee minutes 6.2.2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Jail Subcommittee minutes 6.2.2015.pdf')">Minutes</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->






        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong">May 4, 2015</td>

          <td><a href="{{assets}}pdf/jails Subcommittee Agenda 5.4.15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'jails Subcommittee Agenda 5.4.15.pdf')">Agenda</a> | <a href="{{assets}}pdf/5.4.15 Jail Subcommittee minutes[1].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '5.4.15 Jail Subcommittee minutes[1].pdf')">Minutes</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->







</tbody>
</table>










</div>


</div>
