<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Community Corrections Subcommittee</h3>
  </div>

  <div class="panel-body">

    <table class="table table-condensed fc-table">

      <thead>

      </thead>

      <tbody>

        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="33%">September 16, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/SUBCOMMITTEE ON COMMUNITY CORRECTIONS_Sept agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'SUBCOMMITTEE ON COMMUNITY CORRECTIONS_Sept agenda.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
      </tr> -->






        <tr data-toggle="collapse" data-target="#corrections2" class="accordion-toggle">
          <td class="strong" width="30%">August 17, 2015</td>

          <td><a href="{{assets}}pdf/Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Agenda Community Corrections Subcommittee Videoconference 08-17-15.pdf')">Agenda</a>
             | <a href="https://soundcloud.com/icjia/governors-commission-community-corrections-08-17-15">Audio</a> | <a href="https://www.youtube.com/embed/rYsvSWcymX8"> Video </a>
          </td>
          <td>
            <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
          </td>
        </tr>
        <tr>
      <td colspan="6" class="hiddenRow">
        <div id="corrections2" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/Illinois_SCF Presentation to Community Corrections SubCommittee_08172015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Illinois_SCF Presentation to Community Corrections SubCommittee_08172015.pdf')">Presentation: Swift, Certain, Fair&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>



          </div>
        </div>
      </td>
    </tr>




        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="30%">July 8, 2015</td>

          <td><a href="{{assets}}pdf/Final Agenda for Community Corrections committee July 8th 2015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Final Agenda for Community Corrections committee July 8th 2015.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->




        <tr data-toggle="collapse" data-target="#corrections1" class="accordion-toggle">
          <td class="strong" width="30%">May 26, 2015</td>

          <td><a href="{{assets}}pdf/Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-26-15 (3) (2)[6].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-26-15 (3) (2)[6].pdf')">Agenda</a>
          </td>
          <td>
            <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button>
          </td>
        </tr>
        <tr>
      <td colspan="6" class="hiddenRow">
        <div id="corrections1" class="accordian-body collapse">
          <div class="accordian-body-content">

            <p>
              <i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/R&A Community Corrections Subctte 05262015.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'R&A Community Corrections Subctte 05262015.pdf')">Presentation: ICJIA Research & Analysis&nbsp;<i class="fa fa-file-pdf-o"></i></a>
            </p>

            <p><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{assets}}pdf/probation road map[3].pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'probation road map[3].pdf')">Presentation: Probation roadmap&nbsp;<i class="fa fa-file-pdf-o"></i></a></p>




          </div>
        </div>
      </td>
    </tr>




        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="30%">May 5, 2015</td>

          <td><a href="{{assets}}pdf/Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-5-15 (3) (1).pdf" onclick="ga('send', 'event', 'Downloads', 'Click', 'Commission on Criminal Justice and Sentence Reform Community Corrections Committee  Agenda for 5-5-15 (3) (1).pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->







</tbody>
</table>










</div>


</div>
